// -----------------Color-----------------------//

$white:			#ffffff;
$gray:			rgba(0,0,0,0.5);
$green-water:	#00B7BF;
$blue-dark:		#1f5faf; //#003E8B;
$rosa-dark:		#bf29b7;


$dark: rgba(0,0,0, 0.87);
$light: #eee;
$color: #b3e5fc;