//---------------------- home -------------------------//
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
    font-size: 16px;
    // color:
    height: 100%;
    overflow: visible;
}
// --------------MENU---------------------//
.menu {
	position: absolute;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	width: 90%;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-radius: 0px;
	z-index: 3;
}
.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
	border: transparent;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f224c+2,1e5799+46,ffffff+97,ffffff+97&1+6,1+6,0+90 */
	background: -moz-linear-gradient(top,  rgba(15,34,76,1) 2%, rgba(16,39,83,1) 6%, rgba(30,87,153,0.52) 46%, rgba(224,232,241,0) 90%, rgba(255,255,255,0) 97%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(15,34,76,1) 2%,rgba(16,39,83,1) 6%,rgba(30,87,153,0.52) 46%,rgba(224,232,241,0) 90%,rgba(255,255,255,0) 97%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(15,34,76,1) 2%,rgba(16,39,83,1) 6%,rgba(30,87,153,0.52) 46%,rgba(224,232,241,0) 90%,rgba(255,255,255,0) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f224c', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.navbar-menu {
	padding: 10px 0;
	&-item {
		display: inline-block;
		vertical-align: middle;
		&__logo {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
}
.share {
	padding: 10px 0;
	float: right;
	&__text {
		font-family: $century;
		margin-right: 40px;
		color: $white;
		font-size: 18px;
	}
	&__link {
		@extend .share__text;
		margin-right: 10px;
		line-height: 40px;
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border: 1px solid;
		text-align: center;

		transform: rotate(0deg);
		transition: transform 0.5s;
		&:hover {
			transform: rotate(360deg);
			transition: transform 1.2s;
			background-color: rgba(255,255,255,0.2);
			border: 1px solid rgba(255,255,255,0.2);
			color: rgba(255,255,255,0.8);
		}
	}
}
// -----------------------------BOX 1 -------------------------//
.section--box {
	position: relative;
	background-color: $white;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 4%;
	&__image {
		position: relative;
		background-color: $white;
		border: 1px solid rgba(0,0,0,0.1);
		padding: 10%;
		margin-top: -22%;
		z-index: 1;
		&__box {
			// padding: 10%;
			overflow: hidden;
			width: 100%;
			img {
				margin-left: -55px;
			}
		}
	}
	&__text {
		text-align: center;
	}
}
h2.section--box__text__title {
	@include font($brandon, $font-xlarge, 800);
	color: $blue-dark;
	text-transform: uppercase;
	margin: 0.8em 0;
	letter-spacing: 4px;
}
.line {
	border-top: 1px solid rgba(0,0,0,0.3);
	width: 35%;
	margin: 0 auto 5%;
}








// .fade {
// 	width:700px;
// 	height:300px;
// 	background-image: url("img/home2.jpg");
// }

// #wrap{
// 	position:fixed;;
// 	z-index:-1;
// 	top:0;
// 	left:0;
// 	background-color:black
// }
// #wrap {
// 	img.bgfade {
// 		position:absolute;
// 		top:0;
// 		display:none;
// 		width:100%;
// 		height:100%;
// 		z-index:-1
// 	}
// }