.fade {
	width:200px;
	height:300px;
	background-image: url("img/home2.jpg");
}

.menu {
	background-color: rgba(37, 87, 158, 1);
	margin: 0px;
	border-radius: 0px;
}
.fixed {
	position: fixed;
	background-color: rgba(37, 87, 158, 0.8);
	width: 100%;
	top: 0;
	z-index: 2;
}
#wrap{
	position:fixed;; 
	z-index:-1; 
	top:0; 
	left:0; 
	background-color:black
}
#wrap img.bgfade{
    position:absolute;
    top:0;
    display:none;
    width:100%;
    height:100%;
	z-index:-1
}